html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  line-height: 1.5em;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-user-list,
.features-item-up,
.features-item-right-list,
.product-list,
.brands-list,
.footer-navigation,
.footer-social,
.header-user,
.about-list,
.breadcrumbs,
.sorting-list,
.sorting-btn-list,
.perforators-list,
.pagination-list,
.catalog-items,
.filter-list,
.service-list-title,
.service-list-content,
.header-login-list,
.header-order-list {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h2 {
  text-transform: uppercase;
}

.button {
  display: inline-block;

  font: inherit;
  padding: 11px 55px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border-radius: 3px;
  border: none;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.title {
  margin-top: 0;
  vertical-align: middle;
  font-size: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.title-catalog {
  background-color: #f2f6f8;
  padding: 32px 28px 30px;
}

.page-text {
  font-size: 13px;
  line-height: 24px;
  font-family: Cuprum, "PT Sans", sans-serif;
}

.page-text--services {
  font-family: "PT Sans", sans-serif;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/* Разметка header */

.header {
  padding: 0;
  padding-bottom: 65px;

  background-color: #f3f7f9;
}

.header-catalog {
  margin-bottom: 0;
}

.header-navigation-up a:hover,
.header-navigation-up a:focus,
.header-navigation-down a:hover,
.header-navigation-down a:focus {
  background-color: #212a3a;
}

/* Верхняя часть header */
.header-top-wrapper,
.footer-top-wrapper {
  margin: 0;
  padding: 0;

  background-color: #293449;
}

.logo {
  width: 220px;
  height: 47px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  position: relative;
  top: 5px;
  margin-top: -5px;
}

.header-navigation-up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
  align-items: center;

  font-size: 17px;
  color: #ffffff;

  background-color: #293449;
}

.header-navigation-up-container {
  margin-bottom: 35px;
}

.header-search {
  flex-grow: 1;
  position: relative;
  border: 0;
}

.header-search:hover button {
  /*transform: scale(1.1);*/
  opacity: 1;
}

.search-field {
  height: 100%;

  font-size: 17px;
  color: #ffffff;
  padding: 11px 11px 12px 50px;

  background-color: #293449;
  border: none;
  outline: none;
}

.search-field:focus {
  color: #000;

  background-color: #fff;
}

.search-submit {
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;

  background-color: transparent;
  border: none;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;

  opacity: 0.3;
  transition: 0.3s ease-in-out;
}

.search-field:focus + .search-submit {
  background-image: url("../img/icon-search-active.svg");

  opacity: 1;
}

.bookmarks {
  position: relative;
  padding-right: 34px;
  padding-left: 44px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.bookmarks-catalog {
  padding-right: 29px;
}

.bookmarks::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  z-index: 1;
  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;

  opacity: 0.3;
  content: "";
}

.cart {
  position: relative;
  padding-right: 30px;
  padding-left: 44px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.cart::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  z-index: 1;
  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;

  opacity: 0.3;
  content: "";
}

.cart:hover::before,
.bookmarks:hover::before {
  opacity: 1;
}

.cart:active::before,
.bookmarks:active::before {
  opacity: 0.5;
}

.cart:hover,
.bookmarks:hover {
  background-color: #212a3a;
}

.cart:active,
.bookmarks:active {
  color: #b3b4b6;
  background-color: #161d29;
}

.cart-catalog {
  position: relative;
  padding-right: 27px;
  padding-left: 48px;
  padding-top: 9px;
  padding-bottom: 8px;

  background-color: #ee3643;
}

.header-navigation-up .cart-catalog:hover {
  background-color: #ca2c37;
}

.cart-catalog:active {
  color: #b3b4b6;
  background-color: #ba2732;
}

.cart-catalog::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  z-index: 1;
  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;

  opacity: 0.3;
  content: "";
}

.cart-catalog:hover::before {
  opacity: 1;
}

.cart-catalog:active::before {
  opacity: 0.5;
}



.booking {
  margin: 0;
  padding-left: 20px;
  padding-right: 22px;
  padding-top: 9px;
  padding-bottom: 8px;
  vertical-align: middle;
  min-width: 100px;

  background-color: #63a63e;
}

.header-top-wrapper .booking:hover {
  background-color: #5fbb2d;
}

.header-top-wrapper .booking:active {
  color: #b3b4b6;
  background-color: #518534;
}

.header-user {
  display: flex;
  margin-top: 31px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  vertical-align: middle;
}

.header-user a {
  color: #000;
  background-color: #ffffff;
}

.user-sign-up {
  position: relative;
  padding-top: 14px;
  padding-right: 28px;
  padding-bottom: 16px;
  padding-left: 48px;
  margin-right: 7px;
}

.user-sign-up:before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
  z-index: 1;
  width: 20px;
  height: 18px;

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;

  opacity: 0.4;
  content: "";
}

.user-sign-up:hover:before {
  opacity: 1;
}

.user-sign-up:active:before {
  opacity: 0.4;
}

.header-user a:hover {
  color: #ee3643;
}

.header-user a:active {
  color: #c5c5c5;
}

.user-register {
  padding: 14px 27px 16px 25px;
  margin-right: -3px;
}

/* Центральная часть header */

.header-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header-content-index {
  margin-bottom: 35px;
}

.header-content-catalog {
  margin-bottom: 31px;
}

.header-info-title {
  margin-left: 52px;
  width: 210px;

  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.47;
  color: #ee3643;
}

.header-info-title-index {
  margin-top: 21px;
}

.header-info-title-catalog {
  margin-top: 12px;
}

.header-text {
  margin: 0;
  margin-right: 47px;
  padding: 0;
}

.header-text-catalog {
  margin: 0;
  margin-top: 6px;
  padding: 0;
}

.tel {
  display: inline-block;
  margin: 0;
  margin-top: 19px;
  margin-bottom: 0;
  margin-left: 38px;
  padding: 10px 0;
  padding-left: 72px;
  padding-right: 52px;

  font-size: 21px;
  line-height: 21px;
  align-items: center;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 14px center;
  border: 3px solid #ffffff;
}

.tel-catalog {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 2px;
  margin-left: 15px;
  padding: 10px 0;
  padding-left: 72px;
  padding-right: 52px;
}

.header-content .tel {
  font-size: 21px;
  color: #e9292a;
}

.header-content p {
  display: block;
  margin: 0;
  margin-left: 33px;
  padding: 0 7px;

  font-size: 14px;
  text-align: center;
  color: #32425c;
}

.header-login {
  margin-top: 10px;
}

.header-login-list {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 300px;
  padding: 0;
  margin: 0;
  list-style: none;

  background-color: #ffffff;
}

.header-login-list a {
  display: inline-block;
  padding: 11px 25px;

  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  vertical-align: middle;
  color: #000000;

  background-color: #ffffff;
}

.header-login-list a:active {
  color: #c5c5c5;
}

.header-login-list .header-login-username {
  position: relative;

  padding-left: 50px;
  padding-right: 0;
}

.header-login-list .header-login-logout {
  position: relative;

  width: 21px;
  height: 17px;
  padding: 0;

  background-color: transparent;
}

.header-login-username::before,
.header-login-logout::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;

  background-repeat: no-repeat;
  background-position: center;

  opacity: 0.3;
  content: "";
}

.header-login-username::before {
  left: 16px;

  height: 18px;
  background-image: url("../img/icon-user.svg");
}

.header-login-logout::before {
  right: 0;

  height: 17px;
  background-image: url("../img/icon-logout.svg");
}

.header-login-username:hover::before,
.header-login-logout:hover::before {
  opacity: 1;
}

.header-login-username:active:before,
.header-login-logout:active::before {
  opacity: 0.3;
}

.header-order-list {
  position: relative;

  display: flex;
  align-items: center;
  margin: 0;
  padding: 9px 20px;
  padding-bottom: 0;

  list-style: none;
}

.header-order-list li {
  margin-right: 15px;
}

.header-order-list li:last-child {
  margin-right: 0;
}

.header-order-cabinet {
  position: relative;
  padding-left: 18px;
}

.header-order-cabinet::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 4px;
  height: 5px;

  background-color: #32425c;
  border-radius: 50%;

  content: "";
}

.header-order-list a {
  margin: 0;

  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.header-order-list a:hover {
  color: #ee3643;
}

.header-order-list a:active {
  color: #000000;
  opacity: 0.3;
}

/* Нижняя часть header */

.header-navigation-down {
  display: flex;
  justify-content: space-around;
  margin: -4px auto;
  padding: 0 20px;

  font-size: 17px;
  color: #ffffff;

  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.header-navigation-down-container {
  padding: 2px 20px;
  margin-top: 0;
}

.header-navigation-down a {
  padding: 15px 30px 15px 30px;
}

.header-navigation-down-container a {
  padding: 15px 30px 10px 30px;
}

.header-navigation-up a,
.header-navigation-down a {
  color: #ffffff;
}

.header-navigation-down a:active {
  color: #a1a4a8;
  background-color: #1d2739;
}

/* Разметка основного контента */

/* Плитка меню */


/*.features-item {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: left;
}
*/

.features-item-up {
  display: flex;
  margin-bottom: 0;
  padding-top: 41px;
}

.features-item-down {
  display: flex;
}

.features-item-left {

}

.features-item-right-list {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.features-item-right-list .menu-item {
  padding-top: 0px;
}

.features-item-title {
  font-size: 24px;
}

.menu-item {
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.menu-item h3 {

  margin: -4px 0px 13px;
  padding: 0;
  padding-top: 25px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
}

.menu-item a {
  display: inline-block;
  width: 133px;
  padding: 10px 0 8px;
  margin-left: 4px;

  font: inherit;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: center;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.menu-item a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.menu-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.materials {
  position: relative;
  padding-left: 22px;

  background-color: #ffbf47;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 213px 31px;
}

.materials .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.materials .flag-new {
  background: url("../img/new.png") no-repeat 0 0;
}

.tool {
  padding-left: 22px;

  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 198px 33px;
}

.technics {
  padding-left: 22px;
  margin-right: 0;

  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 190px 32px;
}

.discountt {
  padding-top: 21px;
  padding-left: 22px;

  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 197px 26px;
}

.delivery {
  padding-top: 21px;
  padding-left: 22px;

  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 190px 32px;
}

/* Слайдер */

.menu-slider {
  height: 266px;
  background-color: silver;
}

.slider {
  position: relative;

  margin-right: 20px;
}

.slider input[type="radio"] {
  position: absolute;
  top: 220px;
  left: 30px;
}

.slider .slider-btn-2 {
  left: 230px;
}

.slider-inner {
  width: 620px;

  overflow: hidden;
}

.slide {
  width: 620px;
  margin-bottom: 20px;
  min-height: 266px;
}

.slider-slides {
  display: flex;
  align-items: flex-end;
  width: 200%;
}

.slider-controls {
  position: absolute;
  top: 212px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

.slider-controls label {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 4px;
  padding: 0;

  vertical-align: middle;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] {
  background-color: #ee3643;
}

#btn-1:checked:focus ~ .slider-controls label[for="btn-1"],
#btn-2:checked:focus ~ .slider-controls label[for="btn-2"] {
  outline: thin dotted;
  outline: 5px auto;
}

#btn-1:checked ~ .slider-inner .slider-slides {
  transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
  transform: translateX(-620px);
}

.menu-slide-drill {
  background-image: url("../img/photo-1.jpg");
  background-repeat: no-repeat;
}

.menu-slide-perforator {
  background-image: url("../img/photo-2.jpg");
  background-repeat: no-repeat;
}

.menu-slider-header {
  margin-bottom: 100px;
  padding-top: 23px;
  padding-left: 24px;
  padding-right: 20px;
  padding-bottom: 20px;

  background-color: rgba(0, 0, 0, 0.25);
}

.menu-slider-header h2 {
  margin: 0;
  margin-bottom: 2px;
  padding: 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.menu-slider-header p {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

.menu-slider-header .slide-perforator {
  font-family: Cuprum, "PT Sans", sans-serif;
}

.direction-buttons {
  position: absolute;
  top: 120px;
  left: 0;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  width: 620px;
  margin: 0;
  margin-bottom: 58px;
  padding: 0 26px;
  padding-left: 30px;
}

.direction-btn {
  width: 28px;
  height: 28px;
  margin: -8px;
  padding: 0;

  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  border-color: #ffffff;
  border-top: none;
  border-right: none;
  outline: none;
  cursor: pointer;
}

.direction-btn-right {
  width: 28px;
  height: 41px;

  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  border-color: transparent;

  transform: rotate(180deg);
}

.direction-btn-left {
  width: 28px;
  height: 41px;

  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  border-color: transparent;
}

.button-link {
  display: inline-block;
  margin-left: 25px;
  padding-top: 11px;
  padding-left: 50px;
  padding-right: 46px;
  padding-bottom: 9px;

  font: inherit;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;

  background-color: #ee3643;
  border-radius: 3px;

  cursor: pointer;
}

.button-link:hover,
.button-link:focus {
  background-color: #ca2c37;
}

.button-link:active {
  background-color: #ba2732;
}

/* Популярные товары */
.main-goods {
  margin-top: 16px;
  margin-bottom: 12px;
  flex-direction: column;
}

.goods {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 18px;
  padding: 24px 24px 28px 28px;

  background-color: #f9f5f0;
}

.goods .title {
  margin: 0;
  margin-top: -3px;
  margin-right: auto;
  padding: 0;
}

.popular-link {
  width: 253px;
}

.goods .button {
  margin-top: 0px;

  font-size: 14px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
  margin-left: 25px;
  line-height: 18px;
}

.goods .button:hover {
  background-color: #ca2c37;
}

.goods .button:active {
  background-color: #ba2732;
}

.catalog-items {
  display: flex;
  flex-wrap: wrap;

  margin: 0 auto;
}

.catalog-items-catalog {
  margin-bottom: 35px;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 12px;

  font-family: "PT Sans", Arial, sans-serif;
  line-height: 18px;
  font-weight: 700;
  text-align: center;

  outline: 1px solid #eaeaea;
}

.catalog-item .title {
  text-transform: none;
}

.catalog-item--inner {
  margin-bottom: 20px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item--inner:nth-child(4n) {
  margin-right: 20px;
}

.catalog-item--inner:nth-child(3n) {
  margin-right: 0px;
}

.catalog-items .special {
  margin-right: 20px;
}

.catalog-items .special-two {
  margin-right: 0;
}

.catalog-item {
  font-size: 17px;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/new.png") no-repeat 0 0;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 158px;
  padding: 40px 0;

  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;

  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-item:hover .buy {
  position: relative;
}

.catalog-item:hover .buy::before {
  position: absolute;
  top: 8px;
  left: 20px;
  width: 14px;
  height: 14px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  opacity: 0.3;

  content: "";
}

.catalog-item:hover .buy:hover {
  background-color: #5fbb2d;
}

.catalog-item:hover .buy:hover:before {
  opacity: 1;
}

.catalog-item:hover .buy:active {
  background-color: #518534;
  border-color: #518534;
}

.catalog-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item:hover .bookmark:hover {
  border-color: #32425c;
}

.catalog-item:hover .bookmark:active {
  border-color: #c1c6ce;
  color: #c1c6ce;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 11px;
  margin-bottom: 12px;

  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
}

.discount {
  min-height: 20px;
  margin-bottom: 10px;

  color: #999;
  text-decoration: line-through;
}

.catalog-item .price {
  position: relative;
  width: 120px;
  margin: -2px auto;
  margin-bottom: 20px;
  margin-left: 43px;
  padding: 8px 14px 11px 26px;

  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-item .price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -37px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}


/* Service */

.service {
  background-color: #f2f7f9;
  margin-bottom: 82px;
  padding-bottom: 45px;
  padding-top: 70px;
}

.services-header {
  margin-bottom: 45px;
}

.services-container {
  padding: 65px 0 25px;
  margin-bottom: 78px;
}


.services-container h2 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.services-header p {
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  color: #000000;
}

.service-slide-auto {
  background-image: url("../img/service-auto.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.service-tab {
  display: inline-block;
  vertical-align: top;
}

.service-wrapper {
  display: flex;
  justify-content: space-between;
}

.service-list-title {
  position: relative;
  margin-top: 25px;
  width: 240px;
  margin-bottom: 52px;
}

.service-list-title::after {
  position: absolute;
  right: 0;
  top: -38px;

  content: '';

  width: 10px;
  height: 279px;

  background-image: url("../img/separator.png");
  background-repeat: no-repeat;
}


.service-item-title {
  padding: 15px 22px 16px;

  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;

  background-color: #32425c;
  border-bottom: 1px solid #293449;
  border-top: 1px solid #405069;
  cursor: pointer;
}

.service-item-title-active {
  color: #333366;
  background-color: #ffffff;
}

.service-item-title:first-child {
  border-top: none;
}

.service-item-title:last-child {
  border-bottom: none;
}

.service-list-content {
  width: 630px;
}

.service-item-content {
  height: 100%;
  background-position: right 24px;
  background-repeat: no-repeat;
}

.service-item-content-delivery {
  background-image: url("../img/service-auto.png");
}

.service-item-content-warranty {
  background-image: url("../img/service-guarantee.png");
}


.service-item-content-credit {
  background-image: url("../img/service-credit.png");
}

.service-item-content-hide {
  display: none;
}

.service-item-content-heading {
  margin: 6px 11px 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  color: #333366;
}

.service-item-content-text {
  width: 312px;
  margin-left: 11px;
  padding: 0 1px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;

}



/* Популярные производители */

.main-brand {
  flex-direction: column;
  margin-bottom: 62px;
}

.main-brand .title {
  margin-top: 0px;
}

.main-brand .button {
  width: 253px;
  height: 27px;
  margin-top: 1px;
  padding: 12px 0 26px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.popular-item {
  width: 220px;
  height: 146px;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;

  outline: 1px solid #eaeaea;
}

.popular-item:nth-child(4n) {
  margin-right: 0;
}

.popular-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-brand-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
}


.popular-brand-link:active {
  opacity: 0.3;
}

/* О компании */

.about .container {
  display: flex;
  margin-bottom: 87px;

  justify-content: space-between;
}

.about-info {
  /*display: flex;*/
  /*flex-direction: column;*/
}

.about-info p {
  font-family: "PT Sans", arial, sans-serif;
  margin-bottom: 24px;
}


.info {
  margin-right: 85px;
}

.about-info h2 {
  color: #000000;
  margin-bottom: 27px
}

.about-list {
  margin-bottom: 34px;
}

.about-list-item {
  position: relative;
  margin: 0 0 20px;
  padding: 0 0 0 36px;
  font-size: 18px;
  line-height: 20px;
  color: #000;
}

.about-list-item::before {
  position: absolute;
  top: 8px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  content: "";
}

.info .popular-link {
  width: auto;
  padding: 6px 41px 7px;

  font-size: 14px;
}

.contacts {
  padding-left: 59px;
}

.contacts .page-text {
  padding-right: 90px;
}

.map-container {
  margin-top: 31px;
}

.contacts .popular-link {
  width: auto;
  margin-top: 33px;
  padding: 8px 59px 5px 63px;

  font-size: 14px;
}

/* Сортировка товаров CATALOG */

.arrow {
  display: inline-block;
  margin: 0 6px;
  margin-left: 14px;
  font-size: 0;
}

.arrow-up::before {
  border: 11px solid #ee3643;
  border-right-width: 6px;
  border-right-color: transparent;
  border-left-width: 6px;
  border-left-color: transparent;
  content: "";
  display: inline-block;
  border-top-width: 0;
}

.arrow-up:hover::before {
  border: 11px solid #231f20;
  border-right-width: 6px;
  border-right-color: transparent;
  border-left-width: 6px;
  border-left-color: transparent;
  content: "";
  display: inline-block;
  border-top-width: 0;
}

.arrow-down::before {
  border: 11px solid #c5c5c5;
  border-right-width: 6px;
  border-right-color: transparent;
  border-left-width: 6px;
  border-left-color: transparent;
  content: "";
  display: inline-block;
  border-bottom-width: 0;
}

.arrow-down:hover::before {
  border: 11px solid #231f20;
  border-right-width: 6px;
  border-right-color: transparent;
  border-left-width: 6px;
  border-left-color: transparent;
  content: "";
  display: inline-block;
  border-bottom-width: 0;
}

.arrow-down:active::before {
  border: 11px solid #ee3643;
  border-right-width: 6px;
  border-right-color: transparent;
  border-left-width: 6px;
  border-left-color: transparent;
  content: "";
  display: inline-block;
  border-bottom-width: 0;
}

.breadcrumbs {
  display: flex;
  margin-top: 21px;
  margin-bottom: 13px;
}

.homelink {
  position: relative;
  margin-right: 55px;
}

.homelink::before {
  position: absolute;
  top: -3px;
  left: 0;
  width: 15px;
  height: 15px;

  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: center;

  content: "";
}

.breadlink {
  position: relative;

  display: block;
  margin: 0;
  padding: 0;
  margin-right: 40px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.breadlink::before {
  position: absolute;
  top: 4.5px;
  left: -27px;

  width: 7px;
  height: 7px;

  background-color: transparent;
  border: 2px solid #d0d4da;
  border-left: none;
  border-bottom: none;
  border-radius: 2px;

  transform: rotate(45deg);

  content: "";
}

/* Разделы колонки c картой */

.main-catalog {
  margin-bottom: 0px;
}

.columns-catalog {
  display: flex;
  justify-content: space-between;
  margin-bottom: -38px;
}

.catalog {
  width: 700px;
}

.sorting {
  display: flex;
  width: 700px;
  margin: 0;
  margin-bottom: 20px;
  padding: 10px 14px 10px 18px;

  text-transform: uppercase;
  line-height: 1.5;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;

  background-color: #f7f3ec;
}

.sorting p {
  margin: 0 140px 0 0;

  align-items: center;
}

.sorting-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-right: 23px;
}

.sorting-list li:first-child {
  margin-right: 72px;
}

.sorting-list li:nth-child(2) {
  margin-right: 66px;
}

.sorting-list a {
  font-size: 12px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.3;
  border-bottom: 1px dotted #ff3333;
}

.sorting-list a:hover {
  border-bottom: 1px solid #ff3333;
  opacity: 1;
}

.sorting-list a:active {
  border-bottom: none;
  opacity: 1;
  color: #ff3333;
}

.sorting-btn-list {
  display: flex;
  margin: 0;
  padding-left: 20px;
  padding-top: 2px;
}

.sorting-btn-list li:first-child {
  margin-right: 0px;
}

.perforators-list {
  display: flex;
  flex-wrap: wrap;
}

.perforators-list li {
  margin-right: 20px;
}

.perforators-list li:nth-child(3n) {
  margin-right: 0;
}

.pagination-list {
  display: flex;
}

/* ПАРА СЛОВ О ПЕРФОРАТОРАХ */


.about-product {
  padding-top: 67px;
  padding-bottom: 59px;
  background-color: #f2f7f9;
}

.about-product-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}
/* Пагинация */

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;

  margin-bottom: 100px;
}

.pagination-list a {
  display: block;
  margin-right: 12px;
  padding: 9px 15px;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-list .paginator-next-page {
  padding: 9px 36px;
}

.pagination-list .active-page {
  color: #ffffff;

  background-color: #ee3643;
  border-color: #ee3643;
}

.pagination-list a:hover,
.pagination-list a:focus {
  color: #000000;

  background-color:  transparent;
  border-color: #bdc6ca;
}

.pagination-list a:active {
  color: #000000;

  background-color:  transparent;
  border-color: #ee3643;
}

/* Фильтр CATALOG */

.filters {
  width: 220px;
}

.filter {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-range {
  width: 220px;
}

.filter-title {
  margin: 0;
  margin-left: -1px;
  margin-bottom: 13px;
  padding: 10px 14px 10px 18px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.price-legend {
  margin-bottom: 18px;

  font-weight: 700;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.price-legend-power {
  margin-bottom: 14px;
}

.price-controls {
  position: relative;

  width: 220px;
  height: 79px;
  margin-bottom: 8px;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 18px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 22px;
}

.scale {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 180px;
  height: 2px;
  background-color: #d7dcde;
  transform: translate(-50%);
}

.scale::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;

  width: 150px;
  height: 2px;

  background-color: #00ca74;

  content: "";
}

.range-toggle {
  position: absolute;
  top: 30px;

  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #d7dcde;

  cursor: pointer;
}

.range-toggle-min {
  left: 18px;
}

.range-toggle-max {
  left: 160px;
}

.range-toggle::after {
  position: absolute;
  top: 8px;
  left: 8px;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border-radius: 50%;

  content: "";
}

.price-catalog /*!!!*/{
  position: relative;
}

.price-catalog::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 106px;

  width: 9px;
  height: 1px;

  background-color: #000000;
  box-shadow: -1px 0 0 0 #d8d8d8;

  content: "";
}

.range-input {
  width: 95px;
  margin: 0;
  margin-right: 26px;
  padding: 11px 11px 14px 11px;

  font: inherit;
  font-size: 17px;
  line-height: 18px;
  text-align: center;

  background-color: #f7f3ec;
  border: none;
  border-radius: 3px;
}

.range-input-max {
  position: relative;

  margin-right: 0;
}

.filter-list {
  margin: 0;
  padding: 0;
}

.filter-option {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
}

.filter-option label {
  position: relative;

  margin-left: 34px;

  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;

  cursor: pointer;
}

.filter-option label::before {
  position: absolute;
  top: -2px;
  left: -35px;

  width: 26px;
  height: 26px;
  color: #cccccc;


  background-repeat: no-repeat;
  background-size: auto;

  content: "";
  opacity: 0.5;
}

.filter-option-checkbox label::before {
  background-image: url("../img/checkbox-off.svg");
}

.filter-option-checkbox input:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-option-radio label::before {
  background-image: url("../img/radio-off.svg");
}


.filter-option-radio input:checked + label::before {
  background-image: url("../img/radio-on.svg");
}

.filter-option input:disabled + label::before {
  opacity: 0.1;
}

.filter-option input:checked:focus + label::before,
.filter-option-checkbox input:focus + label::before {
  outline: thin dotted;
  outline: 5px auto;
}

.filter-manufacturers {
  position: relative;

  margin-bottom: 27px;
}

.filter-manufacturers::after {
  position: absolute;
  bottom: -4px;
  left: 0;

  width: 220px;
  height: 1px;

  background-color: #e5e5e5;

  content: "";
}

.filter-power {
  margin-bottom: 60px;
}

.filter-button {
  margin: 0;
  padding: 9px 38px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: #000000;

  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 3px;

  cursor: pointer;
}

.filter-button:hover {
  border-color: #bdc6ca;
}

.filter-button:hover {
  color: #fff;
  background-color: #e5e5e5;
  border-color: #fff;
}

.filter-button:active {
  border-color: #ee3643;
}
/* модальное окно CATALOG*/


.modal-order {
  position: fixed;
  top: 25%;
  left: 50%;
  z-index: 111;

  display: none;
  width: 620px;
  min-height: 275px;
  padding: 0;

  background-color: #ffffff;
  border-top: 7px solid #ff5358;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.5);
  transform: translateX(-50%);
}

.modal-order-show {
  display: block;
}

.modal-order .modal-fieldset {
  margin-top: 65px;
  margin-bottom: 70px;
}

.modal-order h2 {
  position: relative;

  width: 460px;
  margin: 0 auto;
  padding-left: 100px;

  font-size: 30px;
  line-height: 30px;
  font-family: Cuprum, "PT Sans", sans-serif;
  font-weight: 400;
  text-transform: none;
  color: #000000;
}

.modal-order h2::before {
  position: absolute;
  top: -16px;
  left: 0;

  width: 66px;
  height: 66px;

  background-image: url("../img/form-icon.svg");
  background-repeat: no-repeat;
  background-position: center;

  content: "";
}

.order-btn-wrapper {
  padding-top: 37px;
  padding-bottom: 37px;

  background-color: #f1f1f1;
}

.order-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 460px;
  margin: 0 auto;
}

.order-btn {
  display: block;
  width: 220px;
  padding: 14px 0;

  font-size: 14px;
  line-height: 18px;
  font-family: Cuprum, "PT Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  background-color: #ee3643;
  border: none;
  border-radius: 3px;
  -webkit-appearance: initial;
}

.continue-btn {
  margin-left: auto;
  color: #000000;

  background-color: #ffffff;
}

.continue-btn:hover,
.continue-btn:focus {
  color: #ee3643;

  background-color: #ffffff;
}

.order-btn-container .continue-btn:active {
  color: #c5c5c5;

  background-color: #ffffff;
}

/* Модальные окна */

.modal {
  position: fixed;
  color: #000000;

  background-color: #ffffff;
  background-position: 0 0;
  box-shadow: 0 10px 20px 5px rgba(0,0,0, 0.5);
  border-top: 7px solid #ff5358;
}

.modal-feedback {
  box-sizing: border-box;
  top: 50%;
  left: 50%;

  display: none;

  width: 620px;
  transform: translate(-50%, -50%);
  padding: 50px 80px;

}

.modal-show {
  display: block;
}

.modal-row-wrapper {
  display: flex;
  justify-content: space-between;
}

.feedback-form label {
  font-size: 18px;
  line-height: 18px;
  font-family: "Cuprum", PT-Sans, sans-serif;
  font-weight: 400;
}

.feedback-form p {
  margin: 0;
  margin-bottom: 10px;
}

.modal-row-wrapper p {
  width: 48%;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 15px;

  font: inherit;
  color: #000000;
  text-transform: inherit;

  background-color: #ffffff;
  border: 2px solid #dee3e4;
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;

  width: 30px;
  height: 30px;

  background-color: #ffffff;
  background: transparent;
  border: none;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 8px;


  width: 25px;
  height: 4px;

  background-color: #ff3333;
}

.modal-close::before {
  left: 0;
}

.modal-close::after {
  right: 5px;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-feedback .button {
  width: 100%;

  color: #fff;
  background-color: #ee3643;
}

.modal-feedback .button:hover,
.modal-feedback .button:focus {
  background-color: #ca2c37;
}

.modal-map {
  box-shadow: none;
  display: none;
  top: 50%;
  left: 50%;


  width: 940px;
  height: 476px;
  border-top: none;
  transform: translate(-50%, -40%);
}

.modal-map-show {
  display: block;
  z-index: 111;
}

.modal-map p {
  margin: 0;
  padding: 0;
}

/* Подвал сайта */

.footer-top-wrapper {
  min-width: 1200px;
}

.footer-menu {
  padding-bottom: 50px;

  background-color: #32425c;
}

.footer-container {
  display: flex;
}

.footer-contacts {
  width: 380px;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-contacts p {
  margin: 0;
  padding: 0;
  padding-left: 4px;
}

.footer-logo {
  display: block;

  width: 220px;
  margin: 0;
  margin-right: 172px;
  margin-bottom: 34px;
  padding: 17px 0 14px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
  color: #ffffff;
}

.footer-logo:hover,
.footer-logo:focus {
  background-color: #ca2c37;
}

.footer-logo:active {
  background-color: #ba2732;
}

.footer-menu-container {
  width: 560px;
  padding-top: 36px;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  width: 560px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-menu-list {
  margin-bottom: 32px;
}

.footer-list li {
  margin-left: 59px;
}

.footer-list a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

.footer-products-list a {
  color: #ffd180;
}

.footer-list a:hover,
.footer-list a:focus {
  text-decoration: underline;
}

.footer-list a:active {
  text-decoration: none;

  opacity: 0.5;
}

/* Соц. сети */

.footer-social {
  background-color: #293449;
}

.social-wrapper {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 2px;
}

.social-text {
  margin: 0;
  margin-top: 7px;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.social-copyright {
  display: block;
  width: 240px;
  margin-right: 145px;
}

.social-link-list {
  display: flex;
  margin: 0;
  margin-right: 115px;
  padding: 0;

  list-style: none;
}

.social-link {
  display: block;
  width: 41px;
  height: 41px;
  margin: 4px 2.5px;

  background-color: #212a3a;
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.social-fb {
  background-image: url("../img/fb-icon.svg");
}

.social-insta {
  background-image: url("../img/insta-icon.svg");
}

.social-link:hover,
.social-link:focus {
  background-color: #ee3643;
}

.social-feedback-link {
  margin: 0;

  color: #ffd180;
}

.social-feedback-link:hover,
.social-feedback-link:focus {
  text-decoration: underline;
}

.social-feedback-link:active {
  text-decoration: none;
  color: #ee3643;
}

.feedback-first-col {
  margin-right: 54px;
}

.social-feedback {
}
