body {
  margin: 0;
  padding: 0;

  font-family: Cuprum, "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  min-width: 1200px;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

h2 {
  text-transform: uppercase;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #cc3333;
}

.title {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.page-text {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
}

/* Разметка header */

.header-search {

}

.header-navigation-up {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  width: 1200px;
  height: 42px;
  background-color: #293449;
}

.header-navigation-down {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  width: 940px;
  height: 60px;
  background-color: #32425c;

}

.header-user-list,
.features-item,
.product-list,
.brands-list,
.footer-navigation,
.footer-social,
.header-user {
  list-style: none;
}

.header-navigation-up a,
.header-navigation-down a {
  color: #ffffff;
}

.header-navigation-up a:hover,
.header-navigation-up a:focus,
.header-navigation-down a:hover,
.header-navigation-down a:focus {
  background-color: #212a3a;
}

.header-info-title {
  font-family: Cuprum;
  font-style: italic;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 23px;
  text-align: left;
  color: #ee3643;

  width: 196px;
  height: 60px;
}

.header-info span {
  font-size: 21px;
  color: #e9292a;
  text-align: left;
  line-height: 21px;

  width: 270px;
  height: 45px;
}

.header-info p {
  font-size: 14px;
  color: #32425c;
  text-align: center;
  line-height: 24px;

  width: 250px;
  height: 13px;
}

.header-user {
  font-size: 21px;
  color: #000000;
  text-align: left;
  line-height: 21px;

  width: 300px;
  height: 45px;
}

.user-sign-up {
  width: 121px;
  height: 45px;
}

.user-register {
  width: 150px;
  height: 45px;
}

/* Разметка основного контента */

.features-item {
  text-align: left;
}

.features-item-title {
  font-size: 24px;
  line-height: 30px;
}

.filter-title {
  margin-bottom: 13px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

/* Service */

.service {
  color: #000000;

  background-color: #f2f7f9;
  width: 1200px;
  height: 522px;
}

.service h2 {
  font-size: 30px;
  line-height: 30px;
}

.service-slide-auto {
  background-image: url("../img/service-auto.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}



/* Подвал сайта */

.footer-navigation {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  width: 1200px;
  height: 42px;
  background: #293449;

}

.social {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  background-color: #212a3a;
  border-radius: 50%;
}
